<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Mes Demandes de Rendez-Vous</h5>
        @if (errorMessage) {
            <p class="text text-danger">{{errorMessage}}</p>
        }
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0" style="font-size: larger;">
                <thead >
                <tr>
                    <th>DATE DEMANDEE</th>
                    <th class="text-center">GARAGE</th>
                    <th class="text-center">ETAT</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for(demandeRDV of demandesRDV; track demandeRDV){
                        <tr>
                            <td>{{ demandeRDV.dateHeure | date : 'dd/MM/yyyy à HH:mm' }}</td>
                            <td class="text-center">Garage {{ demandeRDV.idGarage.localisation }}</td>
                            <td class="text-center">{{ status[demandeRDV.status] }}</td>
                            <td class="text-end">
                                <form (ngSubmit)="refusRDV(demandeRDV._id)">
                                    <button type="submit" class="btn btn-danger">Annuler</button>
                                </form>
                            </td>
                            @if(demandeRDV.status==1){
                                <td class="text-end">
                                    <form (ngSubmit)="confirmRDV(demandeRDV._id)">
                                        <button type="submit" class="btn btn-primary">Confirmer</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <app-pagination
                [page]="page"
                [pageMax]="pageMax"
                [url]="'/client/demandes-rendez-vous'"
            ></app-pagination>
        </div>
    </div>
</div>