<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Diagnostic sur le vehicule {{travail.matricule}}</h5>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Garage {{travail.idGarage.localisation}}</li>
                <li class="list-group-item">Estimation de durée : du {{ travail.debutTravail | date : 'dd/MM/yyyy à HH:mm' }} jusq'au {{ travail.finEstimation | date : 'dd/MM/yyyy à HH:mm' }}</li>
                <li class="list-group-item">Prix total : Ar {{travail.prix | number}}</li>
                <li class="list-group-item">Reste à payer : Ar {{ (travail.prix - travail.totalPayer) | number }}</li>
            </ul>
        </div>
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0" style="font-size: larger;">
                <thead >
                <tr>
                    <th>SERVICE</th>
                    <th class="text-center">DUREE</th>
                    <th class="text-center">PRIX</th>
                </tr>
                </thead>
                <tbody>
                @for (diagnostic of diagnostics; track diagnostics) {
                    <tr>
                        <td>{{ diagnostic.label }}</td>
                        <td class="text-center">{{ diagnostic.duree }} mn</td>
                        <td class="text-center">Ar {{ diagnostic.prix | number }}</td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
