<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Diagnostic sur le vehicule {{ travail.matricule }}</h5>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Client : {{ travail.idClient.nom }}  {{ travail.idClient.prenom }}</li>
                <li class="list-group-item">Tel. Client : {{ travail.idClient.tel }}</li>
                <li class="list-group-item">Estimation de durée : du {{ travail.debutTravail | date : 'dd/MM/yyyy à HH:mm' }} jusq'au {{ travail.finEstimation | date : 'dd/MM/yyyy à HH:mm' }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5 class="mb-4">Services à effectuer</h5>
                <div class="card tbl-card">
                    <div class="table-responsive">
                    <table class="table table-hover mb-0" style="font-size: larger;">
                        <thead >
                        <tr>
                            <th>SERVICE</th>
                            <th class="text-center">DUREE</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (diagnostic of diagnostics; track diagnostic) {
                            <tr>
                                <td>{{ diagnostic.label }}</td>
                                <td class="text-center">{{ diagnostic.duree }} mn</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h5 class="mb-4">Collègues</h5>
                <div class="card tbl-card">
                    <div class="table-responsive">
                    <table class="table table-hover mb-0" style="font-size: larger;">
                        <thead >
                        <tr>
                            <th>MECANICIEN</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (affiliation of affiliations; track affiliation) {
                            <tr>
                                <td>{{ affiliation.nom }} {{ affiliation.prenom }}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
