<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Mécaniciens</h5>
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0" style="font-size: larger;">
                <thead >
                <tr>
                    <th>NOM</th>
                    <th class="text-center">TEL.</th>
                    <th class="text-center">ROLE</th>
                    <th class="text-center">SALAIRE</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for (employee of employees; track employee) {
                        <tr>
                            <td>{{ employee.nom }} {{ employee.prenom }}</td>
                            <td class="text-center">{{ employee.tel }}</td>
                            <td class="text-center">{{ employee.idRole.label }}</td>
                            @if (employee.salaire){
                                <td class="text-center">Ar {{ employee.salaire.montant | number }}</td>
                            }
                            @else{
                                <td class="text-center">Pas encore de salaire enregistré</td>
                            }
                            <td>
                                <a class="btn btn-primary" [routerLink]="['/manager/employee',employee._id]">Voir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <app-pagination
                [page]="page"
                [pageMax]="pageMax"
                [url]="'/manager/employees'"
            ></app-pagination>
        </div>
    </div>
</div>