a.disabledLink{
    pointer-events: none;
    color: gray;
    text-decoration: none;
}

a.activePage{
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}