<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <div class="row">
            <div class="col">
                <h5 class="mb-4">Travaux</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <a class="link link-primary" [routerLink]="['/manager/creer-travail']">Nouveau Travail</a>
            </div>
        </div>
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead >
                <tr>
                    <th>MATRICULE</th>
                    <th class="text-center">CLIENT</th>
                    <th class="text-center">TEL. CLIENT</th>
                    <th class="text-center">DEBUT DE TRAVAIL</th>
                    <th class="text-center">ESTIMATION DE FIN</th>
                    <th class="text-center">ETAT</th>
                    <th class="text-center">PRIX TOTAL</th>
                    <th class="text-center">RESTE A PAYER</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for (travail of travaux; track travail) {
                    <tr>
                        <td>{{ travail.matricule }}</td>
                        <td class="text-center">{{ travail.nomClient }}</td>
                        <td class="text-center">{{ travail.telClient }}</td>
                        <td class="text-center">{{ travail.dateDebut | date : 'dd/MM/yyyy à HH:mm' }} </td>
                        <td class="text-center">{{ travail.estimationFin | date : 'dd/MM/yyyy à HH:mm' }} </td>
                        <td class="text-center"> En cours </td>
                        <td class="text-center">Ar {{ travail.prix | number }}</td>
                        <td class="text-center">Ar {{ travail.resteAPayer | number }}</td>
                        <td class="text-end">
                            <a class="link-primary" [routerLink]="['/manager/travail',travail._id]">Voir Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <app-pagination
                [page]=1
                [pageMax]=2
                [url]="'/manager/travaux'"
            ></app-pagination>
        </div>
    </div>
</div>