<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <div class="row">
            <div class="col">
                <h5 class="mb-4">Travaux</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <a class="link link-primary" [routerLink]="['/manager/creer-travail']">Nouveau Travail</a>
            </div>
        </div>
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead >
                <tr>
                    <th>MATRICULE</th>
                    <th class="text-center">CLIENT</th>
                    <th class="text-center">TEL. CLIENT</th>
                    <th class="text-center">DEBUT DE TRAVAIL</th>
                    <th class="text-center">ESTIMATION DE FIN</th>
                    <th class="text-center">ETAT</th>
                    <th class="text-center">PRIX TOTAL</th>
                    <th class="text-center">RESTE A PAYER</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for (travail of travaux; track travail) {
                    <tr>
                        <td>{{ travail.matricule }}</td>
                        <td class="text-center">{{ travail.idClient.nom }} {{ travail.idClient.prenom }}</td>
                        <td class="text-center">{{ travail.idClient.tel }}</td>
                        <td class="text-center">{{ travail.debutTravail | date : 'dd/MM/yyyy à HH:mm' }} </td>
                        <td class="text-center">{{ travail.finEstimation | date : 'dd/MM/yyyy à HH:mm' }} </td>
                        <td class="text-center"> {{ status[travail.status] }}</td>
                        <td class="text-center">Ar {{ travail.prix | number }}</td>
                        <td class="text-center">Ar {{ (travail.prix - travail.totalPayer) | number }}</td>
                        @if(travail.status==0){
                            <td class="text-center">
                                <form (ngSubmit)="terminerTravail(travail._id)"><button class="btn btn-primary" type="submit">Terminer</button></form>
                            </td>
                        }
                        @else {
                            <td class="text-center">
                                <form (ngSubmit)="supprimerTravail(travail._id)"><button class="btn btn-danger" type="submit">Supprimer</button></form>
                            </td>
                        }
                        <td class="text-end">
                            <a class="link-primary" [routerLink]="['/manager/travail',travail._id]">Voir Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <app-pagination
                [page]=page
                [pageMax]=pageMax
                [url]="'/manager/travaux'"
            ></app-pagination>
        </div>
    </div>
</div>
