<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Diagnostic sur le vehicule {{ travail.matricule }}</h5>
        <div class="row">
            <div class="col-sm-7">
                <div class="card">
                    <ul class="list-group list-group-flush" style="font-size: larger;">
                        <li class="list-group-item">Client : {{ travail.idClient?.nom }} {{ travail.idClient?.prenom }}</li>
                        <li class="list-group-item">Tel. Client : {{ travail.idClient?.tel }}</li>
                        <li class="list-group-item">Estimation de durée : du {{ travail.debutTravail | date : 'dd/MM/yyyy à HH:mm' }} jusqu'au {{ travail.finEstimation | date : 'dd/MM/yyyy à HH:mm' }}</li>
                        <li class="list-group-item">Prix total : Ar {{ travail.prix }}</li>
                        <li class="list-group-item">Reste à payer : Ar {{ travail.prix - travail.totalPayer }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Enregistrer un paiement</h5>
                    <form (ngSubmit)="addPaiement()" #addPaiementFrom="ngForm">
                        <div class="form-group">
                            <label>Date de paiement</label>
                            <input
                              type="datetime-local"
                              class="form-control"
                              id="date-heure"
                              name="date"
                              [(ngModel)]="paiement.date"
                            >
                        </div>
                        <div class="form-group">
                            <label>Montant (Ar)</label>
                            <input
                              type="number"
                              class="form-control"
                              id="montant"
                              name="montant"
                              [(ngModel)]="paiement.montant"
                            >
                        </div>
                        @if (paiementError) {
                          <p class="text text-danger">{{paiementError}}</p>
                        }
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary text-end">Enregistrer</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body col-x1-12">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="mb-4">Services à effectuer</h5>
                <div>
                    <form (ngSubmit)="addServices()" #addServiceForm="ngForm">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Services'"
                                        [settings]="dropdownSettings"
                                        [data]="servicesDropdownList"
                                        [(ngModel)]="selectedService"
                                        id="services"
                                        name="services"
                                        >
                                    </ng-multiselect-dropdown>
                                    @if (serviceError) {
                                      <p class="text text-danger">{{serviceError}}</p>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit">Ajouter Services</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card tbl-card">
                    <div class="table-responsive">
                    <table class="table table-hover mb-0" style="font-size: larger;">
                        <thead >
                        <tr>
                            <th>SERVICE</th>
                            <th class="text-center">DUREE</th>
                            <th class="text-center">PRIX</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (diagnostic of diagnostics; track diagnostic) {
                            <tr>
                                <td>{{ diagnostic.label }}</td>
                                <td class="text-center">{{ diagnostic.duree }} mn</td>
                                <td class="text-center">Ar {{ diagnostic.prix | number }}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h5 class="mb-4">Affiliations</h5>
                    <div>
                        <form (ngSubmit)="addMecano()" #addMecanoForm="ngForm">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Mécanicien'"
                                            [settings]="dropdownSettings"
                                            [data]="mecanicienDropdownList"
                                            [(ngModel)]="selectedMecanicien"
                                            id="mecano"
                                            name="mecano"
                                            >
                                        </ng-multiselect-dropdown>
                                        @if (mecanoError) {
                                          <p class="text text-danger">{{mecanoError}}</p>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit">Ajouter Mécaniciens</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card tbl-card">
                    <div class="table-responsive">
                    <table class="table table-hover mb-0" style="font-size: larger;">
                        <thead >
                        <tr>
                            <th>MECANICIEN</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (affiliation of affiliations; track affiliation) {
                            <tr>
                                <td>{{ affiliation.nom }} {{ affiliation.prenom }}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
