
<footer class="pc-footer">
<div class="footer-wrapper container-fluid">
    <div class="row">
    <div class="col my-1">
        <p class="m-0">
            ITU, 2025, Projet final MEAN M1 P12
        </p>
    </div>
    <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item">
                Rakotonirainy Daniel Valisoa
            </li>
            <li class="list-inline-item">
                Rakotondramaka Asandratra Mitia Ny Aina
            </li>
        </ul>
    </div>
    </div>
</div>
</footer>
