<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
            <h2>E-Garage</h2>
        </div>
        <div class="card my-5">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Nouveau Mécanicien</b></h3>
              <a [routerLink]="['/employee/login']" class="link-primary">Se connecter</a>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Un pseudo unique"
                value="Pseudo"
                />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Nom</label>
              <input
                type="text"
                class="form-control"
                id="nom"
                placeholder="Exemple : Rakotoson"
                />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Prenom</label>
              <input
                type="text"
                class="form-control"
                id="prenom"
                placeholder="Exemple : Johary"
                />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Numéro Tel</label>
              <input
                type="text"
                class="form-control"
                id="tel"
                placeholder="Exemple : 0387295624"
                />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Role</label>
              <select class="form-select" aria-label="Designation de role">
                <option value="1">Mecanicien</option>
                <option value="2">Manager</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="email">Garage</label>
              <select class="form-select" aria-label="Designation du Garage">
                <option value="1">Anakely</option>
                <option value="2">Ambatobe</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Mot de passe</label>
              <input
                class="form-control"
                id="password" 
                type="password"
                placeholder="Password"
                value="123456789"
                />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Confirmez mot de passe</label>
              <input
                class="form-control"
                id="confirm-password" 
                type="password"
                placeholder="Répétez le mot de passe"
                value="123456789"
                />
            </div>
            <div class="d-grid mt-4">
              <button type="button" class="btn btn-primary">S'inscrire</button>
            </div>
          </div>
        </div>
        <app-footer />
      </div>
    </div>
  </div>
  