<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
            <h2>E-Garage</h2>
        </div>
        <div class="card my-5">
        <form (ngSubmit)="signin()" #signinEmployeeForm="ngForm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Nouveau Mécanicien</b></h3>
              <a [routerLink]="['/employee/login']" class="link-primary">Se connecter</a>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Un pseudo unique"
                [(ngModel)]="signinInfo.username"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="nom">Nom</label>
              <input
                type="text"
                class="form-control"
                id="nom"
                name="nom"
                placeholder="Exemple : Rakotoson"
                [(ngModel)]="signinInfo.nom"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="prenom">Prenom</label>
              <input
                type="text"
                class="form-control"
                id="prenom"
                name="prenom"
                placeholder="Exemple : Johary"
                [(ngModel)]="signinInfo.prenom"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="tel">Numéro Tel</label>
              <input
                type="text"
                class="form-control"
                id="tel"
                name="tel"
                placeholder="Exemple : 0387295624"
                [(ngModel)]="signinInfo.tel"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="role">Role</label>
              <select class="form-select" id="role" name="role" aria-label="Designation de role" [(ngModel)]="signinInfo.idRole">
                @for (role of roles; track role) {
                  <option [value]="role._id">{{ role.label }}</option>
                }
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="garage">Garage</label>
              <select class="form-select" id="garage" name="garage" aria-label="Designation du Garage" [(ngModel)]="signinInfo.idGarage">
                @for (garage of garages; track garages) {
                  <option [value]="garage._id">{{ garage.localisation }}</option>
                }
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Mot de passe</label>
              <input
                class="form-control"
                id="password"
                name="password"
                type="password"
                placeholder="Password"
                [(ngModel)]="signinInfo.motdepasse"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="confirm-password">Confirmez mot de passe</label>
              <input
                class="form-control"
                id="confirm-password" 
                name="confirm-password"
                type="password"
                placeholder="Répétez le mot de passe"
                [(ngModel)]="signinInfo.secondMotDePasse"
                required
              />
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary" [disabled]="signinEmployeeForm.invalid">S'inscrire</button>
            </div>
          </div>
        </form>
        </div>
        <app-footer />
      </div>
    </div>
  </div>
  