<div class="card d-flex justify-content-center">
    <div class="card-body col-x1-12">
        <h5 class="mb-4">Les Demandes de Rendez-Vous</h5>
        <div class="card tbl-card">
            <div class="table-responsive">
            <table class="table table-hover mb-0" style="font-size: larger;">
                <thead >
                <tr>
                    <th>DATE DEMANDEE</th>
                    <th class="text-center">CLIENT</th>
                    <th class="text-center">TEL. CLIENT</th>
                    <th class="text-center">ETAT</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for(demandeRDV of demandesRDV; track demandeRDV){
                        <tr>
                            <td>{{ demandeRDV.dateHeure | date : 'dd/MM/yyyy à HH:mm' }}</td>
                            <td class="text-center">{{ demandeRDV.idClient.nom }} {{ demandeRDV.idClient.prenom }}</td>
                            <td class="text-center">{{ demandeRDV.idClient.tel }}</td>
                            <td class="text-center">{{ status[demandeRDV.status] }}</td>
                            @if(demandeRDV.status<1){
                                <td>
                                    <form (ngSubmit)="refusDemandeRDV(demandeRDV._id)">
                                        <button type="submit" class="btn btn-danger">Refuser</button>
                                    </form>
                                </td>
                                <td>
                                    <a class="btn btn-primary" [routerLink]="['/manager/valider-demande',demandeRDV._id]">Voir</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <app-pagination
                [page]="page"
                [pageMax]="pageMax"
                [url]="'/manager/demandes-rendez-vous'"
            ></app-pagination>
        </div>
    </div>
</div>